.clicker-contain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#cookie {
  height: 20em;
  width: 20em;
  transition: 0.1s;
}

#cookie:hover {
  transform: scale(1.05);
}

.reset {
  height: 3em;
  width: 10em;
}
