.newtweet {
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid #e6ecf0;
    padding-bottom: 5px;
    margin-top: 0px;
  }
  .newtweet_avatar {
    margin: 0;
    padding: 20px;
    width: 50px;
    height: 70px;
  }

  #newtweet_pfp {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    padding: 5px;
   }


  .newtweet_body {
    flex: 1;
    padding: 10px;
  }
  
  .newtweet_body > img {
    border-radius: 20px;
    max-width: 500px;
  }

  .newtweet_userInfo > h3 {
    font-size: 15px;  
    margin-bottom: 5px;
  }
  

  .newtweet_tweetMessage {
    margin-bottom: 10px;
    font-size: 15px;
  }

  p {
    margin: 0;
  }

  
  