ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #F1E5AC;
  border-bottom: 2px solid Black;
}

.notifications-searchbox {
  position: sticky;
  z-index: 2;
  top: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: var(--white);
}

.nav-list {
  display: flex;
  overflow: hidden;
  width: 100%;
}

.nav-item {
  flex: 1 auto;
}

.nav-item a {
  display: block;
  padding: 15px;
  text-align: center;
  font-weight: 700;
  color: var(--grayA);
  white-space: nowrap;
}

.nav-item .is-selected {
  border-bottom: solid 2px CurrentColor;
  color: var(--main-color);
}